
section.slide {
    width: 4200px;     /* 이미지 1400px X 3장 = 4200px */
    /* width: calc(1400*3); */
    position: relative;
}

section.slide ul {
    list-style-type: none;
    position: absolute;
    animation-name: slide;
    animation-duration: 20s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
}

@keyframes slide {
    0% { left: 0; }
    33% { left: -1400px; }
    66% { left: -2800px; }
    100% { left: 0; }
}

section.slide ul li {
    float: left;
    width: 1400px;
    height: 600px;
    box-sizing: border-box;
}

section.slide ul li img {
    width: 100%;
    height: 100%;
}

